body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    font-family: "Arial Black", Arial, sans-serif;
    
}

.background-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
.custom-button {
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    line-height: 26px; /* Align text vertically within the button */
    cursor: pointer;
    margin-left: 510px; 
    margin-top: 500px;
    transition: background-color 0.3s, color 0.3s;
}
.custom-button:hover, .custom-button:active {
    background-color: black;
    color: white;
}

/* iPhone 12 特定樣式 */

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (orientation: portrait) {
    body {
        font-size: 18px;
    }

    .custom-button {
       padding: 20px;
        font-size: 20px;
        width: 180px;
        height: 20px;
        font-size: 20px;
        color: black;
        background-color: white;
        border: 2px solid black;
        border-radius: 25px;
        text-align: center;
        line-height: 5px; /* Align text vertically within the button */
        cursor: pointer;
        margin: 10px auto; /* 使用 margin: auto; 居中 */
        transition: background-color 0.3s, color 0.3s;
    }
}
